.wrapper {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.coloredTxt {
    color: #61dafb !important;
}

.coloredBg {
    background-color: #61dafb !important;
}

.coloredBorder {
    border: 2px solid #61dafb !important;
}